
.accordion {
    --bs-accordion-bg: #d71d1d ;
    --bs-accordion-bg: #f01717 ;
    --bs-accordion-btn-bg: #198754 ;
    --bs-accordion-active-color: #15315b;
    --bs-accordion-active-bg: #e7f1ff;

      
}
